<main>
  <div class="login-container">
    <div class="image-container">
      <img src="../../../assets/images/logo.png" alt="Logo MagnumTI" width="150">
    </div>
    <form [formGroup]="loginForm">
      <div class="mb-2">
        <label for="basic-url" class="form-label">Usuário</label>
        <div class="input-group">
          <span class="input-group-text"><i class="pi pi-envelope"></i></span>
          <input type="text" class="form-control emailInput" formControlName="email" [ngClass]="applyErrors('email')">
          <div class="invalid-feedback" *ngIf="loginForm.get('email')?.hasError('required')">
            E-mail obrigatório!
          </div>
          <div class="invalid-feedback" *ngIf="loginForm.get('email')?.hasError('email')">
            Insira um e-mail válido!
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="basic-url" class="form-label">Senha</label>
        <div class="input-group input-field input-field-password">
          <span class="input-group-text"><i class="pi pi-lock"></i></span>
          <input [type]="passwordEyes.signIn? 'password' : 'text'" class="form-control" style="border-right: none;"
            formControlName="password">
          <button class="btn-password" (click)="changePasswordEye('signIn')"><i class="pi"
              [ngClass]="{'pi-eye': passwordEyes.signIn, 'pi-eye-slash': !passwordEyes.signIn}"></i></button>
        </div>
      </div>
    </form>

    <div class="btn-container">
      <button type="button" class="btn btn-primary mt-2" (click)="authUser()"><i
          class="pi pi-sign-in pe-2"></i>Entrar</button>
    </div>
  </div>
</main>

<app-alert-message type="info" *ngIf="formStatus" title="Erro!"
  details="Formulário com dados faltantes."></app-alert-message>

<app-alert-message [type]="typeAlert" *ngIf="errStatus" title="Erro!"
  details="Usuário não encontrado. Verifique se as credenciais foram informadas corretamente."></app-alert-message>
