<div class="container-fluid mb-3" style="overflow-y: hidden;">
  <div class="header">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <div class="image">
            <img src="../../../../assets/images/logo.png" alt="..." height="130">
          </div>
          <div class="text">
            <h2>Estoque</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="filters">
          <div class="parameter">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Busque pelo nome..." [(ngModel)]="parameter"
                (keydown.enter)="getProductsByName()" (keyup)="checkEmptyInput()">
              <button class="btn button-hover" type="button" style="background-color: #ff5722; color: #fff;"
                (click)="getProductsByName()"><i class="pi pi-search" style="font-size: .8rem;"></i></button>
              <button *ngIf="parameter.length" class="btn btn-danger" type="button" (click)="clearParameter()"><i
                  class="pi pi-times" style="font-size: .8rem;"></i></button>
            </div>
          </div>
          <div class="category">
            <select class="form-select form-select-sm" (change)="getProductsByCategory()"
              [(ngModel)]="selectedCategoryType">
              <option [value]="categoryType.TODOS" selected disabled>Geral</option>
              <option [value]="categoryType.CACHORRO">Cachorro</option>
              <option [value]="categoryType.GATO">Gato</option>
              <option [value]="categoryType.AVE">Ave</option>
              <option [value]="categoryType.PEIXE">Peixe</option>
            </select>
          </div>
          <div class="status">
            <button type="button" class="btn btn-primary btn-sm" (click)="gerarRelatorioPDF(produtos)"><i
                class="pi pi-print pe-1" style="font-size: .8rem;"></i> Relatório</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-2" style="position: relative;">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let produto of produtos; let i = index">
      <app-estoque-item [produto]="produto" (eventRemoveProduct)="receiveEventRemoveProduct($event)"></app-estoque-item>
    </div>

    <div class="col-12" *ngIf="!produtos.length">
      <app-empty-content message="Não há itens em estoque cadastrados!"></app-empty-content>
    </div>
  </div>
</div>

<app-alert-message [type]="errType" *ngIf="errStatus"></app-alert-message>

<!-- <div class="alertArea" *ngIf="errStatus">
  <alert type="danger">
    <strong>Falha!</strong> Não foi possível processar sua solicitação ao servidor.
  </alert>
</div>

<div class="alertArea" *ngIf="successStatus">
  <alert type="success">
    <strong>Sucesso!</strong> Solicitação ao servidor processada com sucesso.
  </alert>
</div> -->
