<div class="container-fluid" style="overflow-y: hidden;">
    <div class="header">        
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <div class="image">
                        <img src="../../../../assets/images/logo.png"  alt="..." height="130">
                    </div>
                    <div class="text">
                        <h2>Estoque</h2>
                    </div>
                </div>
            </div>
        </div>            
        
        <!-- <div class="filters">
            <div class="parameter">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Digite o nome...">
                    <button class="input-group-text"><i class="pi pi-search"></i></button>
                    <button class="input-group-text"><i class="pi pi-sync"></i></button>
                </div>
            </div>
            <div class="status">
                <div class="input-group input-group-sm">
                    <select class="form-select form-select-sm">
                        <option selected disabled>Status</option>
                        <option value="true">Ativo</option>
                        <option value="false">Não Ativo</option>
                    </select>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <hr> -->

    <div class="row pt-2" style="position: relative;">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let produto of produtos; let i = index">
            <app-estoque-item [produto]="produto"></app-estoque-item>
        </div>
    </div>
</div>