::selection {
    background: none;
}

.principalCard {
    border: 1px solid #aaa;
    /* box-shadow: rgba(165, 157, 149, 0.2) 0px 8px 24px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.home-title {
    position: absolute;
    top: 190px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4em;
    color: #0e0e0e;
    font-weight: bold;
    text-transform: uppercase;
}

.cardRoutes {
    color: rgb(75, 74, 74);
    border: 1px solid rgb(187, 185, 185);
    border-radius: 0.4rem;
    transition: 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.4s ease-in-out;
}

.cardRoutes:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transform: scale(1.07);
}

.cardRoutes i {
    font-size: 18px;
}

.cardRoutes .name {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}

.module-cards {
    display: flex;
}

.module-cards h4 {
    font-size: 18px;
}

.name {
    font-size: 12pt;
}

h4 {
    color: #2c2c2c;
    font-family: "Work Sans", sans-serif;
}

.dropdown-menu {
    margin-top: 3rem;
}

li {
    cursor: pointer;
}

@media (max-width: 992px) {
    .home-title {
        font-size: 17px;
        top: 195px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .home-title {
        font-size: 13px;
        top: 202px;
    }
}

@media(max-width: 575.5px) {
    .module-cards .first-group {
        display: flex;
        flex-direction: column;
    }

    .module-cards .secound-group {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 547px) {
    .home-title {
        top: 192px;
        text-align: center;
    }
}

@media(max-width: 436.5px) {
    .home-title {
        top: 180px;
        text-align: center;
    }

    .module-cards .first-group {
        padding-top: 20px;
    }
}

@media(max-width: 409.5px) {
    .module-cards .first-group {
        padding-top: 30px;
    }
}

@media(max-width: 390.5px) {
    .home-title {
        top: 170px;
        text-align: center;
    }

    .divisor {
        top: 220px !important;
    }

    .module-cards .first-group {
        padding-top: 30px;
    }
}