<div class="container">
    <div class="animated fadeIn">
        <div class="row mt-3">
            <div class="col-12">
                <div class="card principalCard">
                    <div class="card-body col-10 offset-1">
                        <div class="row" style="position: relative;">
                            <div class="col-sm-12 d-flex flex-column  align-items-center">
                                <img src="../../../assets/images/sublogo_-_petshop-removebg-preview.png"
                                    class="img-fluid" alt="Logo MangnumTI" width="280" style="margin-top: -25px;">
                                <span class="home-title">Sistema de Gerenciamento de Estoque - Magnum TI &copy;</span>
                            </div>
                            <hr style="position: absolute; top: 240px;">
                        </div>
                        <div class="module-cards">
                            <!-- Sobre nós -->
                            <div class="col-12 d-flex justify-content-between">
                                <div class="col-6 pe-3">
                                    <!-- Home -->
                                    <div class="row mt-2 home">
                                        <div class="col-sm-12">
                                            <h4>
                                                Página Inicial
                                            </h4>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-12">
                                            <div class="card cardRoutes" routerLink="/homepage">
                                                <div class="card-body text-center">
                                                    <i class="pi pi-home"></i>
                                                    <div class="col-12 name">
                                                        Início
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ps-3">
                                    <div class="row mt-2 sobre-nos">
                                        <div class="col-sm-12">
                                            <h4>
                                                Sobre nós - Apresentação
                                            </h4>
                                        </div>
                                        <div class="col-lg-12 col-12 col-md-6">
                                            <div class="card cardRoutes" routerLink="/sobrenos">
                                                <div class="card-body text-center">
                                                    <i class="pi pi-id-card"></i>
                                                    <div class="col-12 name">
                                                        Sobre nós
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="module-cards mt-3 mb-4">
                            <div class="col-12 d-flex justify-content-between">
                                <div class="col-6 pe-3">
                                    <!-- Produto -->
                                    <div class="row mt-2 produto">
                                        <div class="col-sm-12">
                                            <h4>
                                                Cadastro de Produto
                                            </h4>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-12">
                                            <div class="card cardRoutes" routerLink="/produto">
                                                <div class="card-body text-center">
                                                    <i class="pi pi-cart-plus"></i>
                                                    <div class="col-12 name">
                                                        Produto
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ps-3">
                                    <!-- Estoque -->
                                    <div class="row mt-2 produto">
                                        <div class="col-sm-12">
                                            <h4>
                                                Visualização de Estoque
                                            </h4>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-12">
                                            <div class="card cardRoutes" routerLink="/estoque">
                                                <div class="card-body text-center">
                                                    <i class="pi pi-server"></i>
                                                    <div class="col-12 name">
                                                        Estoque
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>