.container {
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 100%;
}

.container .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .filters {
    display: flex;
    gap: 40px;
    margin-top: 0.4rem;
}

.container .filters .input-group-text:hover {
    background-color: #dddedf;
    transition: .5s;
}

.button-hover:hover {
    cursor: pointer !important;
    background-color: #fa4108 !important;
}