<section class="about-us">
    <div class="main-img">
        <img src="../../../assets/images/about-6.png" alt="">
    </div>
    
    <div class="text">
        <h4>Sobre nós</h4>
        <h1>Garantimos seu trabalho <br> Controle - Estoque otimizado!</h1>
        <p>O Magnum TI é um sistema de gerenciamento de estoque robusto e intuitivo. Ele oferece recursos avançados para controlar o fluxo de produtos, desde a entrada até a saída, garantindo precisão e eficiência. Com sua interface amigável, é fácil monitorar o estoque em tempo real, gerenciar pedidos e otimizar o armazenamento. Além disso, suas ferramentas de análise fornecem insights valiosos para tomadas de decisão estratégicas. O Magnum TI é a solução ideal para empresas que buscam aprimorar sua gestão de estoque e impulsionar seus resultados.</p>

        <div class="last-text">
            <div class="text1">
                <h3>500+</h3>
                <h5>Itens Cadastráveis</h5>
            </div>

            <div class="text2">
                <h3>20k</h3>
                <h5>Dados Analisáveis</h5>
            </div>
        </div>
    </div>
</section>